html, body {
    background : silver;
    margin : 0;
    padding : 0;
    width : 100%;
    height : 100%;
    font-family : verdana, sans-serif;
    min-width : 800px;
}

#page-container {
    position : relative;
    width : 85%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    min-height : 100%;
    background : white;
    padding : 0;
    margin : 0 auto;
}

#header {
    width : 100%;
    height : 2.5em;
    background : lightblue;
    padding : 0;
    margin : 0;
    border-bottom : 1px solid black;
    font-size : 26px;
    font-weight : bold;
}

#header p {
    padding : 0;
    text-align : center;
    line-height : 2.5em;
    margin : 0;
}

#menu {
    width : 100%;
    height : 2em;
    background : lightgreen;
    border-bottom : 1px solid black;
}

#menu ul {
    display: block;
    margin : 0;
    padding : 0;
    line-height : 2em;
    text-align : center;
}

#menu li {
    display : inline-block;
    margin : 0;
    padding : 0 0.5em;
    list-style: none;
}

#menu a:link { text-decoration : none; color : darkred; font-weight : bold; }
#menu a:visited { text-decoration : none; color : darkred; font-weight : bold; }
#menu a:hover { text-decoration : underline; color : darkred; }
#menu a:active { color : darkred; }

#content {
    min-height : 10em;
    padding : 1em 1em 2.75em 1em;
    font-size : 10pt;
    text-align : justify;
    hyphens : auto;
    -moz-hyphens : auto;
    -webkit-hyphens : auto;
}

#content p {
    margin : 0;
    padding : 1em 0 0 0 ;
}

#content h2 {
    margin : 0;
    padding : 0;
}

#footer {
    position : absolute;
    bottom : 0;
    width : 100%;
    height : 2em;
    line-height : 2em;
    border-top : 1px solid black;
    background : orange;
    text-align: center;
    font-size : 10px;
    font-weight : bold;
}

.clear {
    clear : both;
}

.right {
    float : right;
    padding : 0em 0em 0em 1em;
}

.left {
    float : left;
    padding : 0 1em 0 0;
}

table {
    border : 1px solid black;
    border-collapse : collapse;
    font-size : 12px;
    hyphens : none;
    -moz-hyphens : none;
    -webkit-hyphens : none;
    margin : 0 auto;
}

tr:nth-child(2n+1) {
    background: none repeat scroll 0 0 lightgray;
}

tr:nth-child(2n) {
    background: none repeat scroll 0 0 lightblue;
}

tr.trow:hover {
    background: none repeat scroll 0 0 burlywood;
}

tr.thead {
    background : orange;
    font-weight : bold;
    text-align : center;
}


tr.trow {
    border-top : 1px solid black;
}

td.email1 {
    text-align : right;
    padding-left : 1em;
}

td.email2 {
    padding-right : 1em;
}

td.emailat {
    text-align : center;
    font-weight : bold;
}

td.inst {
    text-align : center;
    padding-left : 1em;
    padding-right : 1em;
    border-right : 1px solid black;
    border-left : 1px solid black;
}

td.name { 
    text-align : center; 
    padding : 0 1em;
}

.pres ul {
    padding-bottom : 1em;
    padding-right : 1em;
}

.logo {
    width : 100%;
    text-align : center;
}

.logo img {
    height : 50px;	
    padding : 0 0.25em;
}
